<div class="container-fluid success-container" style="display: flex;   align-items: center; justify-content: center; margin-top: 50px;">
  <div class="success" style="
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;">
    <i class="fa-regular fa-circle-check" style="color: #0E6EFE;
    font-size: 300px;"></i>
    <a href="/my_events" type="button" class="btn btn-primary" style="margin-top: 40px;
    width: 60%;">Go to my Events</a>
  </div>
</div>
