<div class="container-fluid success-container">
  <div class="success">
    <i class="fa-regular fa-circle-check"></i>
    <a href="/my_events" type="button" class="btn btn-primary">Go to my Events</a>
  </div>
</div>
